/* stylelint-disable color-function-notation */
@use '../config/variables' as var;
@use '../config/mixin' as mix;

.filled {
  background-color: transparent;
  border: none;

  &.primary {
    color: var.$blue;
    @include mix.hover-color(lighten(var.$blue, 20));
    @include mix.disabled-style(var.$blue);
  }

  &.transparent {
    color: var.$white;
    @include mix.hover-color(var.$blue);
    @include mix.disabled-style(var.$white);
  }
}

.contained {
  box-sizing: border-box;
  border: none;

  &.primary {
    color: var.$white;
    background-color: var.$blue;
    background-image: linear-gradient(135deg, var.$white 50%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    transition: background 500ms ease-in-out, color 500ms 100ms ease-in-out;
    @include mix.hover-color(var.$black) {
      background-position: 0;
    }
    @include mix.disabled-style(var.$white) {
      background-color: rgba($color: var.$white, $alpha: 50%);
      background-image: none;
    }
  }
  @media screen and (max-width: 600px) {
    height: 32px !important;
  }
}

.outlined {
  background-color: transparent;

  &.primary {
    color: var.$blue;
    border: 2px solid var.$blue;
    @include mix.hover-style(
      lighten(var.$blue, 20),
      2px solid lighten(var.$blue, 20)
    );
    @include mix.disabled-style(var.$blue) {
      border: 2px solid rgba(var.$blue, 0.5);
    }
  }

  &.transparent {
    color: var.$white;
    border: 2px solid var.$white;
    @include mix.hover-style(
      lighten(var.$white, 40),
      2px solid lighten(var.$white, 40)
    );
    @include mix.disabled-style(var.$white) {
      border: 1px solid rgba(var.$white, 0.5);
    }
  }

  &.error {
    color: var.$error;
    border: 2px solid var.$error;
    @include mix.hover-style(
      lighten(var.$error, 20),
      2px solid lighten(var.$error, 20)
    );
    @include mix.disabled-style(var.$error) {
      border: 1px solid rgba(var.$error, 0.5);
    }
  }

  &.success {
    color: var.$success;
    border: 2px solid var.$success;
    @include mix.hover-style(
      lighten(var.$success, 20),
      2px solid lighten(var.$success, 20)
    );
    @include mix.disabled-style(var.$success) {
      border: 1px solid rgba(var.$success, 0.5);
    }
  }
}

.fullwidth {
  width: 100%;
}

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: bold;
  @media screen and (max-width: 600px) {
    gap: 5px;
    font-size: 0.6rem;
  }
}

.header {
  margin-left: 20px;
  @media screen and (max-width: 1000px) {
    box-sizing: border-box;
    margin-left: 5px;
  }
}
