@use "../config/variables" as var;

.filled {
  border: none;
  background-color: transparent;
  &.primary {
    color: var.$blue;
    &:hover {
      color: darken(var.$blue, 20);
    }
  }
  &.transparent {
    color: var.$white;
    &:hover {
      color: var.$blue;
    }
  }
}

.contained {
  border: none;
  &.primary {
    color: var.$white;
    background-color: var.$blue;
    background-image: linear-gradient(135deg, var.$white 50%, transparent 50%);
    background-position: 100%;
    background-size: 300%;
    transition: background 500ms ease-in-out, color 500ms 100ms ease-in-out;
    &:hover {
      color: var.$black;
      // background-color: var.$white;
      background-position: 0;
    }
  }
}

.outlined {
  background-color: transparent;
  &.primary {
    color: var.$blue;
    border: 1px solid var.$blue;
    &:hover {
      color: darken(var.$blue, 20);
      border: 1px solid darken(var.$blue, 20);
    }
  }
  &.transparent {
    color: var.$white;
    border: 3px solid var.$white;
    &:hover {
      color: darken(var.$white, 40);
      border: 3px solid darken(var.$white, 40);
    }
  }
  &.error {
    color: var.$error;
    border: 3px solid var.$error;
    &:hover {
      color: lighten(var.$error, 20);
      border: 3px solid lighten(var.$error, 20);
    }
  }
  &.success {
    color: var.$success;
    border: 3px solid var.$success;
    &:hover {
      color: lighten(var.$success, 20);
      border: 3px solid lighten(var.$success, 20);
    }
  }
}

.fullWidth {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
