@use "../config/variables" as var;

.filled {
  border: none;
  background-color: transparent;
  &.primary {
    color: var.$blue;
    &:hover {
      color: darken(var.$blue, 20);
    }
  }
  &.transparent {
    color: var.$white;
    &:hover {
      color: var.$blue;
    }
  }
}

.contained {
  border: none;
  &.primary {
    background-color: var.$blue;
    &:hover {
      color: var.$black;
      background-color: var.$white;
    }
  }
}

.outlined {
  background-color: transparent;
  &.primary {
    color: var.$blue;
    border: 1px solid var.$blue;
    &:hover {
      color: darken(var.$blue, 20);
      border: 1px solid darken(var.$blue, 20);
    }
  }
  &.transparent {
    color: var.$black;
    border: 1px solid var.$black;
  }
}

.fullWidth {
  width: 100%;
}
