@use "../config//variables" as var;

.card {
  background-color: var.$navy;
  border-radius: 12px;
  border: 1px solid var.$navy;
  height: 200px;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  &:hover {
    border: 1px solid var.$blue;
  }
}
