@use '../config//variables' as var;

.message {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 20px 0;
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}

.bubble {
  position: relative;
  padding: 15px;
  font-size: 0.85rem;
  border-radius: 12px;
  @media screen and (max-width: 600px) {
    font-size: 0.68rem;
  }
}

.text {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  @media screen and (max-width: 600px) {
    gap: 8px;
  }
}

.own {
  margin-left: auto;
  text-align: right;

  &.message {
    justify-content: flex-end;
  }

  & .bubble {
    text-align: left;
    background-color: var.$blue;

    &::before {
      position: absolute;
      top: 5px;
      right: -4px;
      width: 0;
      height: 0;
      content: '';
      border: solid 10px;
      border-color: var.$blue var.$blue transparent transparent;
      transform: rotate(20deg);
    }
  }

  & .text {
    display: flex;
    flex-direction: row-reverse;
  }
}

.partner {
  text-align: left;

  & .bubble {
    margin-top: 0;
    margin-left: 60px;
    color: var.$black;
    background-color: var.$white;

    &::before {
      position: absolute;
      top: 4px;
      left: -3px;
      width: 0;
      height: 0;
      content: '';
      border: solid 10px;
      border-color: var.$white transparent transparent var.$white;
      transform: rotate(-13deg);
    }
  }

  & .text {
    display: flex;
  }
}

.profile {
  display: flex;
  gap: 20px;
  align-items: center;

  & p {
    margin: 0;
    font-size: 0.85rem;
    @media screen and (max-width: 600px) {
      font-size: 0.75rem;
    }
  }
}

.time {
  font-size: 0.6rem;
  @media screen and (max-width: 600px) {
    font-size: 0.5rem;
  }
}

.info {
  font-size: 0.8rem;
}
