@use "../config/variables" as var;

.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  max-width: 100%;
  text-align: left;

  & input {
    height: 52px;
    padding: 0 10px;
    color: var.$black;
    background-color: var.$white;
    border: 5px solid var.$white;
    border-radius: 6px;

    &:focus {
      border: 5px solid var.$blue;
    }
  }
  @media screen and (max-width: 1000px) {
    width: 100%;
    min-width: 330px;
    font-size: 0.8rem;

    & input {
      box-sizing: border-box;
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width: 600px) {
    min-width: 250px;
    font-size: 0.7rem;

    & input {
      box-sizing: border-box;
      font-size: 0.7rem;
    }
  }
}
