@use "../config//variables" as var;

.container {
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 30px;
  background-color: var.$navy;
  @media screen and (max-width: 1000px) {
    width: calc(100% - 90px);
  }
  @media screen and (max-width: 600px) {
    width: calc(100% - 70px);
  }
}

.input {
  width: 40%;
  height: 20px;
  padding-bottom: 10px;
  color: var.$white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  @media screen and (max-width: 1000px) {
    height: 10px;
  }
}

.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 15px;
  background-color: transparent;
  @media screen and (max-width: 600px) {
    width: 14px;
  }
}
