/* stylelint-disable color-function-notation */
@use '../config/variables' as var;

.date {
  box-sizing: border-box;
  width: 360px;
  max-width: 60%;
  padding: 4px 32px;
  margin: 0 auto;
  font-size: 0.68rem;
  text-align: center;
  background-color: rgba(var.$navy, 0.5);
  border-radius: 24px;
  @media screen and (max-width: 600px) {
    font-size: 0.6rem;
  }
}
