/* stylelint-disable scss/no-global-function-names */
@use '../config/variables' as var;
@use '../config/mixin' as mix;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(var.$gray 0.4);
}

.modalbody {
  z-index: 9999;
  padding: 40px 120px;
  background-color: var.$navy;
  border-radius: 6px;
  @media screen and (max-width: 1000px) {
    padding: 30px 100px;
  }
  @media screen and (max-width: 600px) {
    padding: 25px 60px;
  }
  @media screen and (max-width: 400px) {
    padding: 15px 30px;
  }
}

.modalbutton {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 20px;

  &.row {
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }
  @media screen and (max-width: 600px) {
    gap: 10px;
    margin-top: 10px;
  }
}

.title {
  font-size: 1.5rem;
  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
  }
}

.userlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &.group {
    height: calc(95% - 110px);
  }

  &.invite {
    height: 270px;
    margin: 30px 0;
    @media screen and (max-width: 600px) {
      margin: 10px 0 15px;
    }
  }
  @media screen and (max-width: 1000px) {
    overflow-x: hidden;
  }
}

.user {
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  cursor: pointer;

  & p {
    flex-grow: 1;
  }
  @media screen and (max-width: 600px) {
    gap: 30px;
  }
  @include mix.hover-color(lighten(var.$white, 20)) {
    background-color: lighten(var.$black, 20);

    & img {
      opacity: 0.6;
    }
  }
}

.passive {
  background-color: var.$navy;
}

.label {
  width: 100%;
}

.contenttitle {
  margin: 5px 0;
  text-align: left;
}

.contentbox {
  padding: 20px;
  background-color: rgb(lighten(var.$black, 20) 0.3);
  border-radius: 6px;
}
