@use "../config//variables" as var;

.email {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  padding: 30px;
  color: var.$white;
  background-color: var.$gray;

  & p {
    margin: 0;
  }
}
