.chatroom {
  position: absolute;
  top: 118px;
  right: 0;
  box-sizing: border-box;
  width: 75%;
  max-height: calc(100% - (118px + 92px));
  padding: 25px;
  overflow-y: auto;

  @media screen and (max-width: 1000px) {
    width: calc(100% - 90px);
    max-height: calc(100% - (118px + 82px));
  }
  @media screen and (max-width: 600px) {
    top: 80.72px;
    width: calc(100% - 70px);
    max-height: calc(100% - (80.72px + 82px));
    padding: 15px;
    font-size: 0.8rem;
  }
}
