/* stylelint-disable scss/no-global-function-names */
@use '../config/variables' as var;
@use '../config/mixin' as mix;

.grouplist {
  box-sizing: border-box;
  width: 600px;
  height: 330px;
  max-height: 80%;
  margin-bottom: 20px;
  overflow-y: auto;
  @media screen and (max-width: 1000px) {
    width: 360px;
  }
  @media screen and (max-width: 600px) {
    width: 310px;
  }
  @media screen and (max-width: 400px) {
    width: 280px;
  }
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: inset -3px -3px 3px var.$black, inset 1px 1px 3px var.$black;

  & p {
    flex-grow: 1;
    margin: 0.5rem 0;
  }
  @include mix.hover-color(lighten(var.$white, 20)) {
    background-color: lighten(var.$black, 20);
  }
  @media screen and (max-width: 600px) {
    padding: 5px 15px;
  }
}

.name {
  font-size: 1rem;
  @media screen and (max-width: 1000px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 0.6rem;
  }
}
