@use "../config/variables" as var;
@use "../config/mixin" as mix;

.groupList {
  height: 400px;
  overflow-y: auto;
  width: 600px;
  @media screen and (max-width: 1000px) {
    width: 360px;
  }
  @media screen and (max-width: 600px) {
    width: 310px;
  }
}

.group {
  cursor: pointer;
  padding: 20px 80px;
  box-shadow: inset -3px -3px 3px var.$black, inset 1px 1px 3px var.$black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & p {
    flex-grow: 1;
    margin: 0.5rem 0;
  }
  @include mix.hoverColor(lighten(var.$white, 20)) {
    background-color: lighten(var.$black, 20);
  }
}
