@use '../config//variables' as var;
@use '../config/mixin' as mix;

.textcenter {
  width: 100%;
  text-align: center;
}

.text {
  font-size: 1rem;
  @media screen and (max-width: 1000px) {
    font-size: 0.8rem;
  }
}

.avatar {
  @include mix.avatar-image;
}

.flexcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errortext {
  color: var.$error;
}
