@use '../config/variables' as var;
@use '../config/mixin' as mix;

.icon {
  width: 28px;
  font-weight: thin;
  @media screen and (max-width: 1000px) {
    width: 22px;
    min-width: 22px;
  }

  &.title {
    width: 36px;
    @media screen and (max-width: 1000px) {
      width: 28px;
    }
  }
}

.send {
  min-width: 24px;
  color: var.$white;
  transform: rotate(90deg);
  @include mix.disabled-style(var.$white);
  @media screen and (max-width: 600px) {
    max-width: 22px;
  }
}

.arrowtopright {
  width: 16px;
  min-width: 10px;
  @media screen and (max-width: 600px) {
    width: 10px;
  }
}
